<div class="holder">
    <div class="holdee">
      <div class="name typing-demo">
        Mathematics
      </div>
      <div class="content">
        As stated previously, I got a Bachelors degree in Mathematics at North Dakota State University in 2022. My senior seminar paper for this degree focused on fractal measurements as a means of analyzing time-series, in other words I applied a means of measuring random 2-dimensional fractals to several different real-world time-series, specifically stock value over a period of time. As a conclusion it was found that on a day to day basis any stocks value is essentially random relative to itself and that outside information must be used in a useful stock value prediction algorithm.
      </div>
    </div>
  </div>