<div class="content">
    <div class="project">
        <!-- <img src="/assets/imgs/profile.jpg"> -->
        <!-- <h1>About Me</h1> -->
        <p>
            <span class="">I am a Software Engineer who graduated in 2022 with a Degree in Computer Science and Mathematics</span>. Currently at <a href="aureliussystems.us">Aurelius Systems</a> as a Founding Engineer.
        
        </p>
        <p>
            Check out <a href="portfolio">my portfolio</a> for some cool projects that I've worked on and contact me afterwards via any of the methods listed on my <a href="contact">contact page</a>.
        </p>
    </div>
</div>
