<div class="holder">
    <div class="content">
        <div class="project">
            <img src="/assets/imgs/profile.jpg">
            <h1>About Me</h1>
            <p>
                Hello all! I'm glad that you've found my personal website. Feel free to look around and view the several pages.
            </p>
            <p>
                For those who don't know me, <span class="highlighted">I'm a Software Engineer who graduated in 2022 with a Degree in Computer Science and Mathematics</span>. Some of my hobbies include reading, cooking, playing board games with friends, and of course programming.
            </p>
            <p>
                Be sure to check out my portfolio for some <a href="portfolio">cool projects</a> that I've worked on and contact me afterwards via any of the methods listed on my <a href="contact">contact</a> page. Also check in later once I get the blog set up.
            </p>
        </div>

        <div class="project">

        </div>

        <!-- <div class="project">
            <h1>Education</h1>
            <div class="subcontent">
                <div class="project">
                    <h2>Computer Science</h2>
                    <p>
                        Graduated from North Dakota State University with a degree in Computer Science (2019-2022)
                    </p>
                </div>
                <div class="project">
                    <h2>Mathematics</h2>
                    <p>
                        Graduated from North Dakota State University with a degree in Mathematics (2019-2022)
                    </p>
                </div>
            </div>
        </div> -->
        <!-- <div class="project">
            <h1>Work History</h1>
            <p>
                Dolor molestiae est nihil voluptates vero odit consequuntur deleniti. Velit aut quam in vel vero a iste. Nostrum reprehenderit provident explicabo. Soluta neque labore nisi. Quo consequatur aperiam et aut neque rerum impedit dignissimos. In fuga quos eum.
            </p>
            <p>
                Et esse quis nemo modi culpa et. Sed quia reprehenderit voluptate dolor voluptas commodi rerum. Hic rerum rerum quo in unde sed quis. Non dicta neque voluptate id aut. Labore odit voluptas veritatis quia. Omnis in dolore qui.
            </p>
        </div> -->
    </div>
</div>