

<div class="holder">
  <div class="content">
    <div class="project">
      <h1>Email</h1>
      <p>vinmcasey@gmail.com</p>
      <a class="link" href="mailto:vinmcasey@gmail.com">Send Email</a>
    </div>
    <div class="project">
      <h1>Linkedin</h1>
      <p>My LinkedIn profile, see my latest career updates here.</p>
      <a class="link" href="https://www.linkedin.com/in/vincent-casey/">Connect</a>
    </div>
    <div class="project">
      <h1>GitHub</h1>
      <p>View some of my latest and highlighted projects.</p>
      <a class="link" href="https://github.com/vmc-7645/">View</a>
    </div>
    <div class="project">
      <h1>Twitter / x.com</h1>
      <p>Check out my inner ramblings here.</p>
      <a class="link" href="https://twitter.com/vincentmcasey">Link</a>
    </div>
    <div class="project">
      <h1>YouTube</h1>
      <p>Go here to see some nice videos I've taken from my projects and life.</p>
      <a class="link" href="https://www.youtube.com/@vincentcasey">Watch</a>
    </div>
  </div>
</div>