<div class="holder">
    <div class="holdee">
      <div class="name typing-demo">
        Contact
      </div>
      <div class="content">
        Email: <a class="underline-hover-effect underline-style-mail" href="mailto:vinmcasey@gmail.com">vinmcasey@gmail.com</a>
        <br>
        Linkedin: <a class="underline-hover-effect underline-style-linkedin" href="https://www.linkedin.com/in/vincent-casey/">https://www.linkedin.com/in/vincent-casey/</a>
        <br>
        Github: <a class="underline-hover-effect underline-style-github" href="https://github.com/vmc-7645">https://github.com/vmc-7645</a>
        <br>
        Twitter: <a class="underline-hover-effect underline-style-twitter" href="https://twitter.com/VincentM_Casey">https://twitter.com/VincentM_Casey</a>

      </div>
    </div>
  </div>