<div class="holder">
    <div class="holdee">
      <div class="name typing-demo">
        Contact & Links
      </div>
      <div class="content">
        <table>
          <tr>
            <td class="tdname">Email</td>
            <td class="tdspacer"></td>
            <td><a class="underline-hover-effect underline-style-mail" href="mailto:vinmcasey@gmail.com"><a class="bold">vinmcasey</a>@gmail.com</a></td>
          </tr>
          <tr>
            <td class="tdname">Linkedin</td>
            <td class="tdspacer"></td>
            <td><a class="underline-hover-effect underline-style-linkedin" href="https://www.linkedin.com/in/vincent-casey/">linkedin.com/in/<a class="bold">vincent-casey</a></a></td>
          </tr>
          <tr>
            <td class="tdname">Github</td>
            <td class="tdspacer"></td>
            <td><a class="underline-hover-effect underline-style-github" href="https://github.com/vmc-7645">github.com/<a class="bold">vmc-7645</a></a></td>
          </tr>
          <tr>
            <td class="tdname">Twitter</td>
            <td class="tdspacer"></td>
            <td><a class="underline-hover-effect underline-style-twitter" href="https://twitter.com/VincentM_Casey">twitter.com/<a class="bold">VincentM_Casey</a></a></td>
          </tr>
          <tr>
            <td class="tdname">YouTube</td>
            <td class="tdspacer"></td>
            <td><a class="underline-hover-effect underline-style-youtube" href="https://www.youtube.com/@vincentcasey">youtube.com/<a class="bold">@vincentcasey</a></a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>