<div class="holder">
  <div class="holdee">
    <div class="name">
      Computer Science
    </div>
    <div class="content">
      As mentioned above, I have a degree in Computer Science from North Dakota State University. Through my time there and through both work and personal projects I learned several languages and libraries, including but not limited to:
      
      <div class="list">
        <details>
          <summary>Python</summary>
          <div class="details-full">
            Definitely one of my most utilized languages, both in work and in my own personal projects. I've built several fully fledged backends almost completely with Python and have done everything from data analysis and visualization to facial recognition and video analysis with it.
            
            <ul>
              <li>Python 1 and 3</li>
              <li>OpenCV (Computer Vision)</li>
              <li>Flask (REST service)</li>
              <li>YOLO (AI Models/Service)</li>
              <li>Open VINO (AI training framework)</li>
              <li>NumPy (Mathematics)</li>
              <li>Pandas (Mathematics)</li>
              <li>Matplotlib</li>
            </ul>
          </div>
        </details>
        
        <details>
          <summary>Frontend Frameworks</summary>
          <div class="details-full">
            I've made several full-stack applications in the past, namely with Angular or Flutter. Including but not limited to Wave, a proto-social-media app that includes image sharing capabilities and (in cooperation with a friend/coworker) GoBars, a website that scrapes data from local bars for the best deals and events.
            <ul>
              <li>Angular</li>
              <li>Flutter</li>
              <li>HTML/CSS/JS</li>
              <li>React (Typescript)</li>
              <li>React Native</li>
            </ul>
          </div>
        </details>
        <details>
          <summary>Project Management Tools</summary>
          <div class="details-full">
            <ul>
              <li>Git</li>
              <li>GitHub</li>
              <li>Trello</li>
              <li>Microsoft Azure</li>
              <li>Microsoft Teams</li>
              <li>Obsidian Notes</li>
            </ul>
          </div>
        </details>
        <details>
          <summary>Networking</summary>
          <div class="details-full">
            <ul>
              <li>RTSP (Live network video)</li>
              <li>Serial (USB data transfer)</li>
              <li>Nonstationary networking</li>
            </ul>
          </div>
        </details>
        <details>
          <summary>Operating Systems</summary>
          <div class="details-full">
            <ul>
              <li>Windows 10 & 11</li>
              <li>Ubuntu</li>
              <li>Pi OS</li>
              <li>Linux</li>
            </ul>
        </div>
        </details>
        <details>
          <summary>Cloud Services</summary>
          <div class="details-full">
            <ul>
              <li>AWS</li>
              <li>Google Suite</li>
              <li>MongoDB Atlas</li>
              <li>Mailgun</li>
              <li>PythonAnywhere</li>
            </ul>
        </div>
        </details>
      </div>
      

      Best in class retail detection model (YOLOv8)
      <div class="video">
        <iframe  src="https://www.youtube.com/embed/yIRT5nHoH78" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      
      In college I had a Software Engineering Internship at Revel Digital, where I later ended up working as a Software Engineer full-time. There I worked on several projects involving Computer Vision (specifically implementations of object recognition) and a few Javascript based frontend implementations.
      <div class="video">
        <iframe  src="https://www.youtube.com/embed/bHB2yrDDlUc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>

      Below is a video of the (now defunct) Wave social media platform. It allowed users to create accounts, view posts, and create posts.

      <div class="video">
        <iframe  src="https://www.youtube.com/embed/VB0VLcBi7CA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>

      <br>

    </div>
  </div>
</div>
