<div class="holder">
  <div class="project">
    <img class="bg-gd-green" src="">
    <h1>YOLOv12-AMC2fLEFEM<span class="date">2025</span></h1>
    <p>The "A novel low light object detection method based on the YOLOv5 fusion feature enhancement" research paper implemented with YOLOv12</p>
    <a class="link" href="https://github.com/vmc-7645/yolov12-AMC2fLEFEM">Link</a>
    <!-- <a class="video" href="https://www.youtube.com/watch?v=yIRT5nHoH78">Video</a> -->
  </div>
  <div class="project">
    <img class="bg-gd-orange" src="">
    <h1>American Manufacturers Database<span class="date">2024</span></h1>
    <p>Over 300k companies listed in over 20k U.S. cities.</p>
    <!-- <a class="link dead" href="https://craftinterface.com/">Link</a> -->
    <!-- <a class="video" href="https://www.youtube.com/watch?v=yIRT5nHoH78">Video</a> -->
  </div>
  <div class="project">
    <img class="bg-gd-green" src="">
    <h1>3D Pointcloud Anomaly Detection<span class="date">2024</span></h1>
    <p>A simpler implementation of the "Anomaly Detection in 3D Point Clouds using Deep Geometric Descriptors" paper in Python without pre-training with the ModelNet10 dataset and without generating the synthetic data.</p>
    <a class="link" href="https://github.com/vmc-7645/anomaly-detection-3d">Link</a>
    <!-- <a class="video" href="https://www.youtube.com/watch?v=yIRT5nHoH78">Video</a> -->
  </div>
  <div class="project">
    <img class="bg-gd-red" src="">
    <h1>Online AI Personality Test<span class="date">2024</span></h1>
    <p>A free AI personality test with globally ranked attributes.</p>
    <!-- <a class="link dead" href="https://aurapersona.com/">Link</a> -->
    <!-- <a class="video" href="https://www.youtube.com/watch?v=yIRT5nHoH78">Video</a> -->
  </div>
  <div class="project">
    <img class="bg-gd-blue" src="">
    <h1>Nabnak<span class="date">2023</span></h1>
    <p>Was frustrated with curent Kanban app complexity so I made a simple but effective alternative over two weeks.</p>
    <a class="link" href="https://github.com/vmc-7645/nabnak">Link</a>
    <!-- <a class="video" href="https://www.youtube.com/watch?v=yIRT5nHoH78">Video</a> -->
  </div>
  <div class="project">
    <img class="bg-gd-green" src="">
    <h1>YOLOv8 Retail<span class="date">2023</span></h1>
    <p>The best retail product detection done via the YOLOv8 object recognition engine.</p>
    <a class="link" href="https://github.com/vmc-7645/YOLOv8-retail">Link</a>
    <a class="video" href="https://www.youtube.com/watch?v=666bQSWaXXU">Video</a>
  </div>
  <div class="project">
    <img class="bg-gd-green" src="">
    <h1>YOLOPT<span class="date">2023</span></h1>
    <p>Only known instance of PyTorch+YOLOv8 running on an rk3399.</p>
    <a class="link" href="https://github.com/vmc-7645/yolo-pt">Link</a>
  </div>
  <div class="project">
    <img src="">
    <h1>EVA Browser-Based Image Editor<span class="date">2023</span></h1>
    <p>An image editing software integrated with viewership optimization for social media. Interface runs in browser.</p>
    <a class="link" href="https://vmc-7645.github.io/eva-landing/home">Link</a>
    <a class="video" href="https://www.youtube.com/watch?v=nMCKLvNEQSo">Video</a>
  </div>
  <!-- <div class="project">
    <h1>NYT Bestseller Viewer<span class="date">2023</span></h1>
    <p>Site made over a weekend to demo a Flask/MongoDB integration and my fullstack capabilities (Frontend, Backend, DB, CRUD, Hosting, etc.).</p>
    <a class="link" href="https://github.com/vmc-7645/nyt-book-viewer">Link</a>
    <a class="video" href="https://www.youtube.com/watch?v=yIRT5nHoH78">Video</a>
  </div> -->
  <div class="project">
    <img class="bg-gd-green" src="">
    <h1>Object Tracking<span class="date">2022</span></h1>
    <p>Detects and tracks detected objects over a video feed.</p>
    <a class="video" href="https://www.youtube.com/watch?v=bHB2yrDDlUc&t=30s">Video</a>
  </div>
  <div class="project">
    <img src="">
    <h1>Hurst Exponent Calculator<span class="date">2022</span></h1>
    <p>A Hurst exponent calculator made to easily find Hurst exponents and to visually illustrate log(R/S)/log(N).</p>
    <a class="link" href="https://github.com/vmc-7645/hurst-exponent-calculator-from-csv">Link</a>
  </div>
  <div class="project">
    <img src="">
    <h1>Applying Fractal Measurements to Economic Models<span class="date">2022</span></h1>
    <p>My Mathematics Senior seminar on using fractal measurement techniques to analyze timeseries.</p>
    <a class="link" href="https://github.com/vmc-7645/hurst-exponent-calculator-from-csv/blob/main/Seminar_Proposal___Applying_Fractal_Measurements_to_Economic_Models.pdf">Link</a>
  </div>
  <div class="project">
    <img src="">
    <h1>Camera Site<span class="date">2022</span></h1>
    <p>A simple website made in Angular used for taking pictures. Includes a <a href="https://vmc-7645.github.io/camera-site/main">live demo</a>.</p>
    <a class="link" href="https://github.com/vmc-7645/camera-site">Link</a>
    <a class="video" href="https://www.youtube.com/watch?v=hGS0M45q2cs">Video</a>
  </div>
  <!-- <div class="project">
    <h1>vincentmcasey.com</h1>
    <p>Recursion anyone?</p>
    <a class="link" href="https://vincentmcasey.com/">Link</a>
  </div> -->
</div>