<div class="holder">
  <div class="content">
    <div class="project">
      <h1>Nabnak<span class="date">2023</span></h1>
      <p>Was frustrated with curent Kanban app complexity so I made a simple but effective alternative over two weeks.</p>
      <a class="link" href="https://github.com/vmc-7645/nabnak">Link</a>
      <!-- <a class="video" href="https://www.youtube.com/watch?v=yIRT5nHoH78">Video</a> -->
    </div>
    <div class="project">
      <h1>NYT Bestseller Viewer<span class="date">2023</span></h1>
      <p>Site made over a weekend to demo a Flask/MongoDB integration and my fullstack capabilities. Includes a <a href="https://waveplatform.pythonanywhere.com/main/">live demo</a>.</p>
      <a class="link" href="https://github.com/vmc-7645/nyt-book-viewer">Link</a>
      <a class="video" href="https://www.youtube.com/watch?v=yIRT5nHoH78">Video</a>
    </div>
    <!-- <div class="project">
      <h1>EVA AI Image Editor<span class="date">2023</span></h1>
      <p>An image editing software integrated with viewership optimization for social media. Interface runs in browser.</p>
      <a class="link" href="https://vmc-7645.github.io/eva-landing/home">Link</a>
      <a class="video" href="https://www.youtube.com/watch?v=nMCKLvNEQSo">Video</a>
    </div> -->
    <div class="project">
      <h1>YOLOv8 Retail<span class="date">2023</span></h1>
      <p>Detect retail products via the YOLOv8 object recognition engine.</p>
      <a class="link" href="https://github.com/vmc-7645/YOLOv8-retail">Link</a>
      <a class="video" href="https://www.youtube.com/watch?v=666bQSWaXXU">Video</a>
    </div>
    <div class="project">
      <h1>Object Tracking<span class="date">2022</span></h1>
      <p>Detects and tracks detected objects over a video feed.</p>
      <a class="video" href="https://www.youtube.com/watch?v=bHB2yrDDlUc&t=30s">Video</a>
    </div>
    <div class="project">
      <h1>Hurst Exponent Calculator<span class="date">2022</span></h1>
      <p>A Hurst exponent calculator made to easily find Hurst exponents and to visually illustrate log(R/S)/log(N).</p>
      <a class="link" href="https://github.com/vmc-7645/hurst-exponent-calculator-from-csv">Link</a>
    </div>
    <div class="project">
      <h1>Applying Fractal Measurements to Economic Models<span class="date">2022</span></h1>
      <p>My Mathematics Senior seminar on using fractal measurement techniques to analyze timeseries.</p>
      <a class="link" href="https://github.com/vmc-7645/hurst-exponent-calculator-from-csv/blob/main/Seminar_Proposal___Applying_Fractal_Measurements_to_Economic_Models.pdf">Link</a>
    </div>
    <div class="project">
      <h1>Camera Site<span class="date">2022</span></h1>
      <p>A simple website made in Angular used for taking pictures. Includes a <a href="https://vmc-7645.github.io/camera-site/main">live demo</a>.</p>
      <a class="link" href="https://github.com/vmc-7645/camera-site">Link</a>
      <a class="video" href="https://www.youtube.com/watch?v=hGS0M45q2cs">Video</a>
    </div>
    <!-- <div class="project">
      <h1>vincentmcasey.com</h1>
      <p>Recursion anyone?</p>
      <a class="link" href="https://vincentmcasey.com/">Link</a>
    </div> -->
    
  </div>
</div>