
::selection {
    background: rgb(255, 217, 0, 0.5);
}

.holder {
    width: 100%;
    align-content: center;
    align-items: center;
    margin: none;
}


/* Name and titles */
.name {
    margin: auto;
    width: 85%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: 'Rubik', sans-serif;
    pointer-events: none;
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    color: rgba(23, 23, 23, 0.8);
    text-shadow: 4px 4px 0px rgba(202, 202, 202, 0.5), 4px -4px 0px rgba(10, 10, 10, 0.862);
}

@keyframes textclip-gleam {to {background-position: 200% center;}}

.content {
    margin: auto;
    margin-top: 0rem;
    width: 33vw;
    display: grid;
    grid-template-columns: 1fr;
}

.project {
    margin: 1vw;
    /* padding: 1rem; */
    min-height: 10vw;
    /* border-top: 1px solid rgb(209, 209, 209); */
    position: relative;
    
}
.project * {
    padding: none;
    margin: none;
    overflow:hidden;
    color: rgb(30, 30, 30);
    font-weight: 800;
    font-family: 'Rubik', sans-serif;
    cursor:default;
}
.project h1 {
    max-width: 70%;
    margin: 0rem;
    margin-top: 0.4rem;
    padding: 0rem;
    height: fit-content;
    font-family: 'Rubik', sans-serif;
    font-size: 1.8rem;
    line-height: 1.6rem;
    color: black;
}

.project h1 .date {
    margin: none;
    padding-left: 0.2rem;
    font-family: 'Rubik', sans-serif;
    line-height: 1rem;
    font-size: 1.3rem;
    font-weight: 300;
    background-clip: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: rgb(70, 70, 70);
}

.project img {
    min-width: 100%;
    min-height: 6rem;
    background-image: linear-gradient(
        -72deg,
        #ffffff 0%,
        #f2f2f2 14%,
        #ffffff 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    /* filter:drop-shadow(2); */
    border-radius: 2px;
    /* outline: 1px solid rgb(177, 177, 177); */
}

.project img.bg-gd-orange {
    background-image: linear-gradient(
        -72deg,
        #ffffff 0%,
        #ff9645 14%,
        #ffc445 34%,
        #ffffff 100%
    );
}

.project img.bg-gd-green {
    background-image: linear-gradient(
        72deg,
        #ffffff 0%,
        #83ff45 66%,
        #45ffa8 86%,
        #ffffff 100%
    );
}

.project img.bg-gd-red {
    background-image: linear-gradient(
        -72deg,
        #ffffff 0%,
        #ff6a45 14%,
        #ff4e45 34%,
        #ffffff 100%
    );
}

.project img.bg-gd-blue {
    background-image: linear-gradient(
        108deg,
        #ffffff 0%,
        #71d0ff 14%,
        #4586ff 34%,
        #ffffff 100%
    );
}


@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.dead {
    color: grey;
    -webkit-text-fill-color: rgb(104, 104, 104);
    text-decoration: line-through;
    cursor:not-allowed;
    pointer-events: none;
}


.project p {
    margin: none;
    margin-top: 5px;
    /* margin-bottom: 2rem; */
    font-weight: 100;
    color: rgb(75, 75, 75);
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
}
.project a {
    cursor:pointer;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    margin-right: 0.5rem;
}
/* .project a.link {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-family: 'Rubik', sans-serif;
}
.project a.video {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-family: 'Rubik', sans-serif;
} */


/* Disable Select */
.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

/* */

@media only screen and (max-device-width: 640px) {
    /* Styles */
    .holder {
    width: 20rem;
    align-content: center;
    align-items: center;
    }
    .content {
    width: 100%;
    grid-template-columns: 1fr;
    }
    .project {
        /* min-height: 35vw; */
        filter: none;
    }

    .project h1 {
        font-size: 1.4rem;
        line-height: 1.3rem;
    }

}
    
@media only screen and (max-device-width: 768px) {
    /* Styles */
    .holder {
    width: 100%;
    align-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
    }
    .holdee {
    margin:auto;
    margin-top: 2rem;
    width: 100%;
    }
}