<div class="holder">
  <div class="holdee">
    <div class="name typing-demo">
      Vincent Casey
    </div>
    <div class="content">
      Highly motivated and capable Software Engineer who loves helping people solve problems.
      I have a Bachelor's degree in <a class="underline-hover-effect underline-style-1" (click)="triggerFlash()">Computer Science</a> and another in <a class="underline-hover-effect underline-style-2">Mathematics</a>, both are from North Dakota State University.
      Please don't be afraid to <a class="underline-hover-effect underline-style-3">contact me!</a>

    </div>
    <div class="note">
      <div class="animated text shake">(Colored text is clickable)</div>
    </div>
    
    <div class="menu">

    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div *ngIf="showOverlay" id="overlay">
  <div *ngIf="flashOff()"></div>
</div>