

.holder {
    width: 100%;
    align-content: center;
    align-items: center;
    

}

.holdee {
    margin:auto;
    margin-top: 2rem;
    width: 70%;
    height: 40rem;
    background-color: rgb(247, 247, 247);

    /* border: 2px solid rgb(234, 234, 234);
    border-radius: 10px;
    -moz-border-radius: 10px; */
}


/* Name and titles */

.name {
    margin: auto;
    
    width: 85%;
    padding: 2rem;
    font-family: 'Roboto Slab', cursive;
    text-align: center;
    font-weight: 800;
    font-size: 3.2rem;
    color: rgb(22, 22, 22);
    padding-bottom: 2rem;
}

.content {
    margin: auto;
    width: 80%;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    /* text-align: center; */
    font-size: 1.2rem;
    color: rgb(21, 21, 21);
}

.note {
    margin: auto;
    margin-top: 1rem;
    width: 80%;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-size: 1rem;
    color: rgb(44, 44, 44);
}

/* Underline Hover effect */
a.underline-hover-effect {
    text-decoration: none;
    font-weight: 600;
    color: rgb(0, 202, 141);
  }
  
  .underline-hover-effect {
    display: inline-block;
    padding-bottom: 0rem; /* defines the space between text and underline */
    position: relative;
  }
  
  .underline-hover-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(1, 1, 1);
    transition: width 0.35s ease-out;
  }


  a.underline-style-1 {
    color: rgb(0, 202, 77);
  }
  
  a.underline-style-2 {
    color: rgb(84, 0, 202);
  }
  
  a.underline-style-3 {
    color: rgb(202, 0, 81);
  }

  .underline-style-1::before {
    background-color: rgb(0, 202, 77);
  }
  
  .underline-style-2::before {
    background-color: rgb(84, 0, 202);
  }
  
  .underline-style-3::before{
    background-color: rgb(202, 0, 81);
  }
  
  .underline-hover-effect:hover::before {
    width: 100%;
  }

/* Shake */
.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0%, 100% {transform: translateX(0px);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
  }
.shake:active {
    animation-name: shake;
}

/* */

@keyframes opac{0%{opacity:0} 50%{opacity:1} 100%{opacity:0}}

#overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(255, 255, 255);
    /* opacity: .50; */
    /* filter: alpha(opacity=80); */
    z-index: 2000;
    /* transition: opacity 1s ease-in-out 2s; */
    /* pointer-events: none; */
    animation: opac 2s;
}

/* #overlay{
    animation-name: fadeover;
    background: rgb(255, 81, 81);
    opacity: .50;
} */

