<div class="holder">
    <div class="content">
      <div class="column">
        <h1>Blog Posts</h1>
        <ul>
            <li><a href="blog/1">Example Post</a></li>
            <li><a href="blog/1">Another Post</a></li>
            <li><a href="blog/1">Yet Another Post</a></li>
            <li><a href="blog/1">Title of Post</a></li>
            <li><a href="blog/1">Etc...</a></li>
        </ul>
      </div>
      <div class="column">
        <h1>Coming Soon!</h1>
        <!-- <p>An image editing software integrated with viewership optimization for social media. Interface runs in browser.</p> -->
      </div>
    </div>
  </div>