

::selection {
    background: rgb(255, 217, 0, 0.5);
}

.holder {
    width: 100%;
    align-content: center;
    align-items: center;
    margin: none;
}

.holdee {
    margin:auto;
    margin-top: 2rem;
    width: 80%;
    /* height: 20rem; */
    background: inherit;

    /* border: 2px solid rgb(234, 234, 234);
    border-radius: 10px;
    -moz-border-radius: 10px; */
}

.footer {
    margin:auto;
    margin-top: 2rem;
    width: 70%;
    height: 5rem;
    /* background-color: rgb(37, 37, 37); */
}


/* Name and titles */
.name {
    margin: auto;
    
    width: 85%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Bebas Neue', sans-serif;
    pointer-events: none;

    text-align: center;
    font-weight: 800;
    font-size: 3rem;

    color: rgba(23, 23, 23, 0.8);
    
    text-shadow: 4px 4px 0px rgba(202, 202, 202, 0.5), 4px -4px 0px rgba(10, 10, 10, 0.862);
}



@keyframes textclip-gleam {to {background-position: 200% center;}}

.content {
    margin: auto;
    margin-top: 1rem;
    width: 66vw;
    display: grid;
    grid-template-columns: 2fr 7fr;
}

.column {
    margin: 1vw;
    padding: 1rem;
    min-height: 10vw;
    border-top: 1px solid rgb(209, 209, 209);
    /* border-left: 3px dashed rgb(209, 209, 209);
    border-right: 3px dashed rgb(209, 209, 209);
    border-bottom: 3px dashed rgb(209, 209, 209); */

    /* border-radius: 5px; */
    display: inline;

    position: relative;
}
.column * {
    padding: none;
    margin: none;
    color: rgb(30, 30, 30);
    font-weight: 800;
    font-family: 'Bebas Neue', sans-serif;
    cursor:default;

}
.column h1 {
    margin: none;
    font-family: 'Bebas Neue', sans-serif;
    line-height: 2rem;

    background-image: linear-gradient(
        -225deg,
        rgb(48, 48, 48) 10%,
        #44107a 13%,
        #ff1361 14%,
        #fff800 18%,
        #ff1361 22%,
        #44107a 23%,
        rgb(48, 48, 48) 26%,
        rgb(48, 48, 48) 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 4000% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.column h1:hover {
    animation: textclip 8s linear infinite;
}

@keyframes textclip {
    to {
    background-position: 200% center;
    }
}


.column ul {
    margin: 0px;
    padding: 0px;
    font-weight: 100;
    color: rgb(75, 75, 75);
    font-size: 1.2rem;
    font-family: 'Gideon Roman', cursive;
}
.column ul li {
    margin: 0px;
    padding: 0px;
}
.column ul li a {
    cursor: pointer;
    font-family: 'Gideon Roman', cursive;
    /* font-family: 'Bebas Neue', sans-serif; */
}


/* Disable Select */
.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

/* */

@media only screen and (max-device-width: 640px) {
    /* Styles */
    .holder {
    width: 20rem;
    align-content: center;
    align-items: center;
    }
    .content {
    width: 90%;
    grid-template-columns: 1fr 1fr;
    }
    .column {
    min-height: 35vw;
    filter: none;
    }

    .column h1 {
    font-size: 1.4rem;
    line-height: 1.3rem;
    }

}
    
@media only screen and (max-device-width: 768px) {
    /* Styles */
    .holder {
    width: 100%;
    align-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
    }
    .holdee {
    margin:auto;
    margin-top: 2rem;
    width: 100%;
    }
}