html {
    /* background: linear-gradient(90deg, #fff 2px, transparent 1%) center, linear-gradient(#fff 4px, transparent 1%) center, #ccc; */
    background-size: 50px 7px;
    background-color: rgb(249, 249, 249);
    padding: 0%;
    border: none;
}