/* You can add global styles to this file, and also import other style files */
html {
    background-color: rgb(247, 247, 247);
    height:100%;
}

/* ---------------------------------- */
/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(238, 238, 238);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(21, 21, 21);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(21, 21, 21);
  }